@media(max-width:992px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:150px;

}

.hero-buttons{

justify-content:center;

}

.hero-left h1{

font-size:52px;

}

.hero-right img{

width:320px;

}

.nav-links{

display:none;

}

}

@media(max-width:576px){

.hero-left h1{

font-size:40px;

}

.hero-left h2{

font-size:24px;

}

.description{

font-size:15px;

}

.hero-right img{

width:260px;

}

.resume-btn{

display:none;

}

.section-title{

font-size:36px;

}

}
.about-container{

flex-direction:column;

text-align:center;

}

.about-image img{

width:320px;

height:400px;

}

.about-cards{

grid-template-columns:1fr;

}
.stats{

grid-template-columns:repeat(2,1fr);

}

@media(max-width:576px){

.stats{

grid-template-columns:1fr;

}

}
.featured-project{

flex-direction:column;

}

.projects-grid{

grid-template-columns:1fr;

}
.services-grid{

grid-template-columns:repeat(2,1fr);

}

@media(max-width:768px){

.services-grid{

grid-template-columns:1fr;

}

}